# Visual

[core]
	pager = diff-so-fancy | less --tabs=2 -RFX
[interactive]
	diffFilter = diff-so-fancy --patch

[color]
	ui = true

[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22

[color "diff"]
	meta = 11
	frag = magenta bold
	func = 146 bold
	commit = yellow bold
	old = red bold
	new = green bold
	whitespace = red reverse

# Behaviour

[init]
  defaultBranch = master

[push]
  autoSetupRemote = true

[rebase]
  autoSquash = true

[user]
  name = Julien Vincent
  email = m@julienvincent.io
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIFrtvt1/rcCsF7Jf4zgmu/vjRnzEXMlXzt8FmouxCxFH

[commit]
  gpgsign = true

[gpg]
  format = ssh
[gpg "ssh"]
  program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"

[alias]
  lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit

[pull]
	rebase = true
